<h1><%= @destination.destination %></h1>
<br>
<!--<em>Nice work - you checked off a dream destination!</em>-->

<br>

<h3>Add more detail about your trip or update - then submit:</h3>

<form action="/destinations/<%= @destination.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  *Destination name: <input type="text" name="destination" value="<%=@destination.destination%>">
  <br>
  Date traveled - optional: <input type="date" name="date_traveled" value="<%=@destination.date_traveled%>">
  <br>
  Travel partner(s) - optional: <input type="text" name="travel_partner" value="<%=@destination.travel_partner%>">
  <br>
  Notes - optional: <input type="text" name="notes" value="<%=@destination.notes%>">
  <br></br>
  <input type="submit" value="submit">
</form>
