<h1><%= @destination.destination %></h1>


<% if @destination.date_traveled %>
  <% date_split = @destination.date_traveled.split("-") %>
  <% month_i = date_split[1].to_i %>
  <% month = Date::MONTHNAMES[month_i] %>
  <% year = date_split[0] %>
  <% date = "#{month} #{year}" %>
<% end %>
<h3>Travel date: <%= date %></h3>

<h4>Travel partner(s): </h4><%= @destination.travel_partner %>

<h4>Notes: </h4><%= @destination.notes %>

<br></br>

<a href="/destinations/<%=@destination.id%>/edit">Edit this visited destination</a>
<br>
<form action='/destinations/wish' method='post'>
<input type="checkbox" name="destination" value="<%=@destination.destination%>">
<input type="submit" value="Move this destination back to your wishlist">
</form>
<br>
<form action='/destinations/<%= @destination.id %>/delete' method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this destination">
</form>

<br></br>

<a href="/destinations">Back to homepage</a>
<br>
<a href="/logout">Log out</a>
