<h1>Welcome, <%= @user.username %></h1>

<h3>Your Travel Destination Wishlist</h3>
<em>Check off your latest journey and log it!</em>
<br></br>
<% @wished_places.sort_by! { |place| place.destination } %>
<form action="/destinations/update" method="post">
  <% @wished_places.each do |wish| %>
    <input type="checkbox" name="visited_place" value="<%=wish.destination%>"><a href="/destinations/wish/<%=wish.id%>"><%=wish.destination%></a></input>
    <br>
  <% end %>
  <br></br>
  <input type="submit" value="Log trip">
</form>

<br>
<a href="/destinations/wish/create">Add a new destination to your wishlist</a>
<br>

<h3>Places You've Been Around the World</h3>

<% @visited_places.sort_by! { |place| place.destination } %>
<ul>
  <% @visited_places.each do |visit| %>
    <li><a href="/destinations/<%= visit.id %>"><%= visit.destination %></a></li>
    <br>
  <% end %>
</ul>
<a href="/destinations/create">Enter a new visited destination</a>

<br></br>
<br></br>

<a href="/logout">Log out</a>

<br></br>
