<h1>On the wishlist: <%= @destination.destination %></h1>

<% if @destination.travel_partner %>
  <h4>Travel partner(s): </h4><%= @destination.travel_partner %>
<% end %>

<% if @destination.notes %>
  <h4>Notes: </h4><%= @destination.notes %>
<% end %>

<br></br>

<a href="/destinations/wish/<%=@destination.id%>/edit">Edit this wishlist destination</a>
<br>
<form action='/destinations/wish/<%= @destination.id %>/delete' method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this destination">
</form>

<br></br>

<a href="/destinations">Back to homepage</a>
<br>
<a href="/logout">Log out</a>
