<h1>On the wishlist: <%= @destination.destination %></h1>

<% timestamp = @destination.created_at %>
<% timestamp = timestamp.to_s %>
<% date = timestamp.split(" ") %>
<% date = date[0].split("-") %>
<% month = date[1].to_i %>
<% month = Date::MONTHNAMES[month] %>
<% day = date[2] %>
<% year = date[0] %>
Added on <%=  month %> <%= day %>, <%= year %>

<% if @destination.travel_partner %>
  <h4>Travel partner(s): </h4><%= @destination.travel_partner %>
<% end %>

<% if @destination.notes %>
  <h4>Notes: </h4><%= @destination.notes %>
<% end %>

<br></br>

<form>
  <input type="button" value="Edit this wishlist destination"
  onclick="window.location.href='/destinations/wish/<%=@destination.id%>/edit'"
  />
</form>
<br></br>
<form action='/destinations/wish/<%= @destination.id %>/delete' method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this destination">
</form>
